body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2em;
  color: dimgrey;
  text-align: center;
}

h2 {
  font-size: 5em;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
